


body{
    
    background: #FBE5DA;

}


/* Estilo general de la barra de navegación */
.navbar {

    background: #F5F5DC !important;
  }
  
  /* Estilo para el logo de la marca */
  .navbar-brand img {
    width: 200px; /* Ajusta el ancho del logo */
    height: 60px; /* Ajusta el alto del logo */
    margin-right: 10px; /* Espacio entre el logo y el texto */
    
  }
  
  /* Color y estilo de los enlaces */
  .navbar-nav .nav-link {
    color: #000 !important; /* Color de los enlaces */
    font-weight: 500; /* Peso de fuente para mejor visibilidad */
  }
  
  .navbar-nav .nav-link:hover {
    color: #f0d68b !important; /* Color al pasar el cursor */
  }
  
  /* Color y estilo del enlace activo */
  .navbar-nav .nav-link.active {
    color: #f0d68b !important;
    font-weight: 600; /* Peso de fuente más fuerte para el enlace activo */
  }
  
  /* Dropdown personalizado */
  .dropdown-menu {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1; /* Fondo al pasar el cursor en el dropdown */
  }
  
  /* Estilo para el botón de colapso en dispositivos móviles */
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}





/* Footer General */
.footer {
    background-color: #F5F5DC;
    padding: 40px 20px;
    color: #3F3D3B;
    font-family: Arial, sans-serif;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex-basis: 30%;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 1.5em;
    color: #BF985F;
    margin-bottom: 15px;
}

.footer-section p, 
.footer-section ul {
    font-size: 1em;
    line-height: 1.5;
    color: #3F3D3B;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #3F3D3B;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #BF985F;
}

.footer-bottom {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #BF985F;
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 0.9em;
    color: #3F3D3B;
}

/* Responsiveness */
@media (max-width: 768px) {
    .footer .container {
        flex-direction: column;
        text-align: center;
    }

    .footer-section {
        flex-basis: 100%;
    }
}


  
h3, h2 {
    color: #BF985F;
    font-size: 15px;
    
}

h1 {
    text-align: center;
    color: #BF985F;
    font-size: 25px;
}

h2, label, .form-check-label {
    color: #BF985F;
}